<!doctype html>
<html lang="en">
  <head>
    <title>ToDo List</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.0.2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"  integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- FontAwesome CSS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' integrity='sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==' crossorigin='anonymous' referrerpolicy='no-referrer'/>

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet">

  </head>
  <body>
    <div id="app">
        <div class="container">
            <!-- Logo -->
            <div class="logo img-fluid d-flex align-items-center justify-content-center mt-3">
                <img src="./assets/img/to-do-logo.png" alt="">
                <h2>ToDo App</h2>
            </div>

            <!-- Input -->
            <div class="add-tasks mt-3 d-flex justify-content-center">
                <input type="text" class="rounded-3 p-1" v-model="newTask" @keyup.enter="addTask">
                <button type="button" class="btn btn-primary mx-1" @click="addTask">Add</button>
            </div>

            <section class="to-do d-flex justify-content-center mt-3 w-50 m-auto rounded-3 align-items-center" v-if="toDo.length > 0">
                <ul class="list-unstyled text-right w-100">
                    <li class="d-flex justify-content-between" v-for="(item, index) in toDo">
                        <span :class="item.done ? 'done' : ''" @click="undoTask(index)">{{item.text}}</span>
                        <i class="fa-solid fa-times-circle" @click="removeTask(index)"></i>
                    </li>
                </ul>
            </section>
            <p v-else class="message p-3 w-50 rounded-3 text-center m-auto mt-4">🥳 Yay you have nothing else ToDo!</p>
            


        </div>
    </div>






      
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    
    <!-- My JavaScript Libraries -->
    <script src='https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js'></script>
    <script src="./assets/js/app.js"></script>
  </body>
</html>